!!!
%html
  %head
    <link href='http://fonts.googleapis.com/css?family=Raleway:100,400' rel='stylesheet' type='text/css'>
    %title AWS RI Auditor
    %meta{content: "width=device-width, user-scalable=no, initial-scale=1.0", name: "viewport"}/


    :javascript
      if (window.devicePixelRatio > 1) {
        var elHtml = document.getElementsByTagName('html')[0];
        var atrClass = elHtml.getAttribute('class');
        atrClass = atrClass + ' retina';

        elHtml.setAttribute('class', atrClass); //For Most Browsers
        //elHtml.setAttribute('className', atrClass); //For IE; harmless to other brow
      }

    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => false
    = csrf_meta_tags

  %body
    #wrapper.wider
      #header.grid
        .unit.two-thirds
          %h1
            AWS Reserved Instaces Auditor
        .unit.one-third.text-right
          - if current_user
            #current_user
              %p.user= current_user.email
              = link_to 'Sign out', signout_path, id: 'sign_out'
      #content
        - if notice || alert
          .grid
            .unit.whole
              - if notice
                %p.notice= ":) #{notice}"
              - if alert
                %p.alert= ":( #{alert}"
        = yield

      #footer
        .grid
          .unit.half
            Check me at
            %a{href:"http://www.github.com/luctus/riauditor"} GitHub
          .unit.half.text-right
            Created by Gustavo G. at ArchDaily.com
            %br
            Inspired by a
            %a{href: 'http://www.matthewgkeller.com/blog/2014/01/07/aws-ec2-reserved-instance-auditing/'} Matt G Keller's post
