.grid
  .unit.whole
    %h2 Auditing #{@account.name}

.grid
  .unit.half
    %h3 Running instances
    %table
      %tr
        %th availability zone
        %th instance type
        %th count
        %th reserved
        %th comments
      - @instances.each do |az, by_type|
        - by_type.each do |type, count|
          %tr
            %td= az
            %td= type
            %td= count
            %td= "#{(@reserved_instances[az][type] rescue 0).to_i}"
            %td
              - if count - (@reserved_instances[az][type] rescue 0).to_i > 0
                = "Reserve #{count - (@reserved_instances[az][type] rescue 0).to_i} more"
              - elsif count - (@reserved_instances[az][type] rescue 0).to_i == 0
                = "Perfect!"
              - else
                = "Alert!"

  .unit.half
    %h3 Reserved Instances
    %table
      %tr
        %th availability zone
        %th instance type
        %th reserved
        %th not used
        %th comments
      - @reserved_instances.each do |az, by_type|
        - by_type.each do |type, count|
          %tr
            %td= az
            %td= type
            %td= count
            %td
              - if @audited_reserved_instances[az][type] >= 0
                = @audited_reserved_instances[az][type]
              - else
                = "0"
            %td
              - if @audited_reserved_instances[az][type] > 0
                = "Alert!"
              - elsif @audited_reserved_instances[az][type] == 0
                = "Perfect!"
              - else
                = "Reserve #{-1*@audited_reserved_instances[az][type]} more!"

.grid
  .unit.whole
    = link_to 'Back', account_path(@account)
